<!DOCTYPE html>
<html>
<head>
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito de compras</h1>
    {{#each productsCart}}
    <div>
        <ul>
            <li><h3>{{this.idProd.title}}</h3></li>
            <p>Cantidad: {{this.quantity}}</p>
            <p>Precio unitario: ${{this.idProd.price}}</p>
            <p>Precio total: ${{multiply this.idProd.price this.quantity}}</p>
        </ul>
    </div>
    {{/each}}
</body>
</html>